@model AppBarganhaWEB.ViewsObject.UsuarioVO

<div class="d-flex py-2">
    <div class="col-md-10">
        @Html.ActionLink("VIP", "Index", "Vip")
    </div>
</div>

<div class="d-flex py-2">
    <div class="col-md-10">
        @Html.ActionLink("Em andamento", "Index", "Ofertas")
    </div>
</div>

<div class="d-flex py-2">
    <div class="col-md-10">
        @Html.ActionLink("Editar", "Index", "Usuario")
    </div>
</div>

<div class="d-flex py-2">
    <div class="col-md-10">
        @Html.ActionLink("Inserir Foto", "Index", "Usuario")
    </div>
</div>

@if (Model.Documento.Length == 14)
{
    <div class="d-flex py-2">
        <div class="col-md-10">
            @Html.ActionLink("Inserir Documentos", "Index", "Usuario")
        </div>
    </div>

    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Razão Social</th>
                <th scope="col">Nome Fantasia</th>
                <th scope="col">CNPJ</th>
                <th scope="col">CEP</th>
                <th scope="col">Logradouro</th>
                <th scope="col">Bairro</th>
                <th scope="col">Localidade</th>
                <th scope="col">Unidade Federal</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@Model.Login</td>
                <td>@Model.RazaoSocial</td>
                <td>@Model.NomeFantasia</td>
                <td>@Model.Documento</td>
                <td>@Model.Endereco.Cep</td>
                <td>@Model.Endereco.Logradouro</td>
                <td>@Model.Endereco.Bairro</td>
                <td>@Model.Endereco.Localidade</td>
                <td>@Model.Endereco.Uf</td>
            </tr>
        </tbody>

    </table>
}
else if (Model.Documento.Length == 11)
{
    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">CEP</th>
                <th scope="col">Logradouro</th>
                <th scope="col">Bairro</th>
                <th scope="col">Localidade</th>
                <th scope="col">Unidade Federal</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@Model.Login</td>
                <td>@Model.Nome</td>
                <td>@Model.Documento</td>
                <td>@Model.Endereco.Cep</td>
                <td>@Model.Endereco.Logradouro</td>
                <td>@Model.Endereco.Bairro</td>
                <td>@Model.Endereco.Localidade</td>
                <td>@Model.Endereco.Uf</td>
            </tr>
        </tbody>

    </table>
}