@model AppBarganhaWEB.ViewsObject.OfertaVO

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand">
        <img src="~/img/5by5.png" alt="logo" style="width:40px;">
    </a>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" @Html.ActionLink("Home", "Index", "Home")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" @Html.ActionLink("Voltar", "Index", "Leilao")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" @Html.ActionLink("Sair", "LogOut", "Login")</a>
        </li>
    </ul>
</nav>
<br />
@{
    var anuncio = Model.Anuncio;
    <div class="container">
        <h2>Ofertar</h2>
        <p>Detalhes do anúncio a ser ofertado:</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Índice</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Data de Publicação</th>
                    <th>Valor</th>
                    <th>Categorias</th>
                    <th>Foto</th>
                    <th>Situação</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>@anuncio.Nome</td>
                    <td>@anuncio.Descricao</td>
                    <td>@anuncio.DataPublicacao</td>
                    <td>@anuncio.Valor</td>
                    <td>A FAZER</td>
                    <td>
                        <div class="container">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAnuncio">Imagem</button>
                            <div class="modal" id="modalAnuncio">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img src="~/img/@anuncio.Foto" width="250" height="250" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>@anuncio.Status</td>
                </tr>
            </tbody>
        </table>
    </div>
}

@using (Html.BeginForm("Ofertar", "Oferta", FormMethod.Post))
{
    <div class="form-horizontal">
        <main class="d-flex justify-content-center">
            <div class="">
                <div class="form-group">
                    @Html.LabelFor(model => model.Descricao, "Descrição", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descricao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Valor, "Valor", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Valor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="d-flex py-2">
                    <div class="col-md-10">
                        <input type="submit" id="ofertar" value="Ofertar" class="btn btn-success form-control px-5" />
                    </div>
                </div>
            </div>
        </main>
    </div>
    @Html.HiddenFor(m => m.Anuncio.Id)
}