@model AppBarganhaWEB.ViewsObject.OfertaVO


@{
    var anuncio = Model.Anuncio;

    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@anuncio.Nome</td>
                <td>@anuncio.Descricao</td>
                <td>@anuncio.Valor</td>
            </tr>
        </tbody>

    </table>
}

@using (Html.BeginForm("Ofertar", "Oferta", FormMethod.Post))
{
    <div class="form-horizontal">
        <main class="d-flex justify-content-center">
            <div class="">
                <div class="form-group">
                    @Html.LabelFor(model => model.Descricao, "Descrição", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descricao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Valor, "Valor", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Valor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="d-flex py-2">
                    <div class="col-md-10">
                        <input type="submit" id="ofertar" value="Ofertar" class="btn btn-success form-control px-5" />
                    </div>
                </div>
            </div>
        </main>
    </div>
    @Html.HiddenFor(m => m.Anuncio.Id)
}