@model AppBarganhaWEB.ViewsObject.OfertasPorAnuncioVO

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand">
        <img src="~/img/5by5.png" alt="logo" style="width:40px;">
    </a>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" @Html.ActionLink("Home", "Index", "Home")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" @Html.ActionLink("Voltar", "Index", "Oferta")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" @Html.ActionLink("Sair", "LogOut", "Login")</a>
        </li>
    </ul>
</nav>
<br />

@{
    var anuncio = Model.Anuncio;

    <div class="container">
        <h2>Anúncio</h2>
        <p>Detalhes do anúncio:</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Índice</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data da Publicação</th>
                    <th>Data do Encerramento</th>
                    <th>Foto</th>
                    <th>Categoria</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>@anuncio.Nome</td>
                    <td>@anuncio.Descricao</td>
                    <td>@anuncio.Valor</td>
                    <td>@anuncio.DataPublicacao.ToString("dd/MM/yyyy")</td>
                    <td>@anuncio.DataFinal.ToString("dd/MM/yyyy")</td>
                    <td>
                        <div class="container">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAnuncio">Imagem</button>
                            <div class="modal" id="modalAnuncio">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img src="~/img/@anuncio.Foto" width="250" height="250" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Categorias</button>
                            <div class="dropdown-menu">
                                @foreach (var categorias in anuncio.Categorias)
                                {
                                    <a class="dropdown-item">@categorias</a>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

<br />

<div class="container">
    <h2>Oferta</h2>
    <p>Detalhes da oferta:</p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Índice</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data da Oferta</th>
                <th>Data da Atualização</th>
                <th>Situação</th>
                <th>Chat</th>
            </tr>
        </thead>
        @{
            int count = 1;
            @foreach (var oferta in Model.Ofertas)
            {
                <tbody>
                    <tr>
                        <th scope="row">@count</th>
                        <td>@oferta.Descricao</td>
                        <td>@oferta.Valor</td>
                        <td>@oferta.DataOferta.ToString("dd/MM/yyyy")</td>
                        <td>@oferta.DataAtualizacao.ToString("dd/MM/yyyy")</td>
                        @{ if (oferta.Status == OfertaStatus.ABERTO)
                            {
                                <td>
                                    @Html.ActionLink("Aceitar", "Aceitar", "Oferta", new { idOferta = oferta.Id }, null)
                                    @Html.ActionLink("Recusar", "Recusar", "Oferta", new { idOferta = oferta.Id }, null)
                                </td>
                            }
                            else if (oferta.Status == OfertaStatus.ACEITO && oferta.OfertanteAvaliado == false)
                            {
                                <td>
                                    @Html.ActionLink("Avaliar", "Index", "Avaliacao", new { idOferta = oferta.Id, modo = "OFERTANTE" }, null)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @oferta.Status.ToString()
                                </td>
                            }
                        }
                        <td>
                            @Html.ActionLink("Chat", "Index", "Chat", new { idOferta = oferta.Id })
                        </td>
                    </tr>
                </tbody>
                count++;
            }
        }
    </table>
</div>
