@model AppBarganhaWEB.ViewsObject.HomeVO


<h1>Bem-Vindo, @Model.UsuarioLogado.Login (Pontuação: @Model.UsuarioLogado.Pontuacao)</h1>

<div class="btn-group" role="group" aria-label="Exemplo básico">
    <div class="col-md-5">
        @Html.ActionLink("Anunciar", "Index", "Anuncio")
    </div>

    <div class="col-md-5">
        @Html.ActionLink("Leilão", "Index", "Leilao")
    </div>

    <div class="col-md-5">
        @Html.ActionLink("Minhas Ofertas", "OfertasOfertante", "Oferta")
    </div>

    <div class="col-md-5">
        @Html.ActionLink("Perfil", "Perfil", "Usuario")
    </div>

    <div class="col-md-5">
        @Html.ActionLink("Chat", "Chat", "Home")
    </div>

    <div class="col-md-5">
        @Html.ActionLink("Sair", "LogOut", "Login")
    </div>
</div>

<h2>Seus Anuncios</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Ofertas</th>
        </tr>
    </thead>
    @{
        int count = 1;

        @foreach (var anuncio in Model.Anuncios)
        {
            <tbody>
                <tr>
                    <th scope="row">@count</th>
                    <td>@anuncio.Nome</td>
                    <td>@anuncio.Descricao</td>
                    <td>@anuncio.Valor</td>
                    <td>
                        <div class="d-flex py-2">
                            <div class="col-md-10">
                                @Html.ActionLink("Ofertas", "OfertasPorAnuncio", "Oferta", new { idAnuncio = anuncio.Id }, null)
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            count++;
        }
    }

</table>