@model AppBarganhaWEB.ViewsObject.AvaliacaoVO

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand">
        <img src="~/img/5by5.png" alt="logo" style="width:40px;">
    </a>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" @Html.ActionLink("Home", "Index", "Home")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" @Html.ActionLink("Voltar", "OfertasOfertante", "Oferta")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" @Html.ActionLink("Sair", "LogOut", "Login")</a>
        </li>
    </ul>
</nav>

<br />

@{
    var anuncio = Model.Anuncio;

    <div class="container">
        <h2>Anúncio</h2>
        <p>Detalhes do anúncio:</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Índice</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data da Publicação</th>
                    <th>Foto</th>
                    <th>Categoria</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>@anuncio.Nome</td>
                    <td>@anuncio.Descricao</td>
                    <td>@anuncio.Valor</td>
                    <td>@anuncio.DataPublicacao</td>
                    <td>
                        <div class="container">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAnuncioSS">Imagem</button>
                            <div class="modal" id="modalAnuncioSS">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img src="~/img/@anuncio.Foto" width="250" height="250" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>A FAZER</td>
                </tr>
            </tbody>
        </table>
    </div>
}

<br />

@{
    var oferta = Model.Oferta;

    <div class="container">
        <h2>Oferta</h2>
        <p>Detalhes da oferta:</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Índice</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data da Oferta</th>
                    <th>Data da Atualização</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>@oferta.Descricao</td>
                    <td>@oferta.Valor</td>
                    <td>@oferta.DataOferta</td>
                    <td>@oferta.DataAtualizacao</td>
                </tr>
            </tbody>
        </table>
    </div>
}


@{
    var usuario = Model.Usuario;

    <div class="container">
        @if (Model.Modo == "ANUNCIANTE")
        {
            <h2>Anunciante</h2>
            <p>Detalhes do anunciante a ser avaliado:</p>
        }
        else
        {
            <h2>Ofertante</h2>
            <p>Detalhes do ofertante a ser avaliado:</p>
        }
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Índice</th>
                    <th>Login</th>
                    <th>Pontuação</th>
                    <th>Foto</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>@usuario.Login</td>
                    <td>@usuario.Pontuacao</td>
                    <td>
                        <div class="container">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAnuncioUU">Imagem</button>
                            <div class="modal" id="modalAnuncioUU">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img src="~/img/@usuario.Foto" width="250" height="250" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

@using (Html.BeginForm("Avaliar", "Avaliacao", FormMethod.Post))
{
    <h2>Avaliação</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Positivo</th>
                <th>Neutro</th>
                <th>Negativo</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>&#128515 @Html.RadioButton("Pontos", "Positivo")</td>
                <td>&#128528 @Html.RadioButton("Pontos", "Neutro")</td>
                <td>&#128544 @Html.RadioButton("Pontos", "Negativo")</td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <div class="d-flex py-2">
            <div class="col-md-10">
                <input type="submit" value="Avaliar" class="btn btn-success form-control px-5" />
            </div>
        </div>
        @Html.HiddenFor(model => model.Usuario.Id)
        @Html.HiddenFor(model => model.Oferta.Id)
        @Html.HiddenFor(model => model.Modo)
    </div>
}
