@model AppBarganhaWEB.ViewsObject.UsuarioVO

<script src="~/js/site.js"></script>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand">
        <img src="~/img/5by5.png" alt="logo" style="width:40px;">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" @Html.ActionLink("Voltar", "Index", "Home")</a>
        </li>
    </ul>
</nav>
<br />

@using (Html.BeginForm("CadastrarOuAtualizar", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <main class="d-flex justify-content-center">
            <div class="">
                <div class="form-group" id="tipoPessoa">
                    @Html.LabelFor(model => model.TipoUsuario, "Tipo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @foreach (var tipo in ViewBag.TipoUsuario as List<string>)
                        {
                            @Html.RadioButtonFor(model => model.TipoUsuario, tipo) @tipo<br />
                        }
                    </div>
                </div>

                <div class="form-group" id="documento">
                    @Html.LabelFor(model => model.Documento, "Documento", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Login, "Login", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Senha, "Senha", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="nomeFisico">
                    @Html.LabelFor(model => model.Nome, "Nome", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group" id="razaoSocial">
                    @Html.LabelFor(model => model.RazaoSocial, "Razão Social", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group" id="nomeFantasia">
                    @Html.LabelFor(model => model.NomeFantasia, "Nome Fantasia", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InteressesSelecionados, "Interesses", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.InteressesSelecionados, ViewBag.Interesses as MultiSelectList)
                    </div>
                </div>

                @*<div class="form-group" id="foto">
                        @Html.LabelFor(model => model.Foto, "Fotos", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Foto, new { type = "file" })
                        </div>
                    </div>*@

                <div class="form-group">
                    <label asp-for="Foto" class="control-label"></label>
                    <input asp-for="Foto" accept="img/*" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Endereco.Cep, "Cep", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" id="cep">
                        @Html.EditorFor(model => model.Endereco.Cep, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group" id="logradouro">
                    @Html.LabelFor(model => model.Endereco.Logradouro, "Logradouro", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Endereco.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group" id="bairro">
                    @Html.LabelFor(model => model.Endereco.Bairro, "Bairro", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Endereco.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group" id="localidade">
                    @Html.LabelFor(model => model.Endereco.Localidade, "Localidade", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Endereco.Localidade, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group" id="uf">
                    @Html.LabelFor(model => model.Endereco.Uf, "Unidade Federal", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Endereco.Uf, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group" id="picDocumentos">
                    @Html.LabelFor(model => model.Documentos, "Documentos", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Documentos, new { type = "file" })
                    </div>
                </div>

                <div class="d-flex py-2">
                    <div class="col-md-10">
                        <input type="submit" id="cadastrarUsuario" value="@( Model.id != null ? "Atualizar" : "Cadastrar" )" class="btn btn-success form-control px-5" enctype="multipart/form-data" />
                    </div>
                </div>

                @Html.HiddenFor(m => m.id)

            </div>

        </main>

    </div>
}